// mobile responsive
@media only screen and (min-device-width : 1px) and (max-device-width : 767px) {
  // header
  header{
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    .menu{
      padding-top: 22px;
      i{
        display: block;
        color: $dkblue;
        font-size: 2rem;
      }
      ul{
        list-style: none;
        padding: 0px;
        li{
          display: block;
          padding-left: 0px;
          padding-bottom: 7px;
          display: none;
          a{
            color: $dkblue;
          }
          button{
            padding-left: 10%;
            padding-right: 10%;
          }
        }
      }
    }
  }
  // hero
  .hero{
    height: 500px;
  }
  // about
  #about{
    height: auto;
    .aboutbox{
      float: none;
      width: 100%;
    }
    .middlebox{
      margin: 5% 0px 5% 0px;
    }
  }
  // services
  #services{
    height: 1200px;
    .servicesbox{
      width: 100%;
      margin-bottom: 10%;
    }
  }
}

@media(max-width: 767px) {
  // header
  header{
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    .menu{
      padding-top: 22px;
      i{
        display: block;
        color: $dkblue;
        font-size: 2rem;
      }
      ul{
        list-style: none;
        padding: 0px;
        li{
          display: block;
          padding-left: 0px;
          padding-bottom: 7px;
          display: none;
          a{
            color: $dkblue;
          }
          button{
            padding-left: 10%;
            padding-right: 10%;
          }
        }
      }
    }
  }
  // hero
  .hero{
    height: 500px;
  }
  // about
  #about{
    height: auto;
    .aboutbox{
      float: none;
      width: 100%;
    }
    .middlebox{
      margin: 5% 0px 5% 0px;
    }
  }
  // services
  #services{
    height: 1200px;
    .servicesbox{
      width: 100%;
      margin-bottom: 10%;
    }
  }
}

// tablet responsive
@media(min-device-width: 768px) and (max-device-width: 1010px) {
  // header
  header{
    padding-left: 5%;
    padding-right: 5%;
  }
  // about
  #about{
    padding-left: 5%;
    padding-right: 5%;
    .aboutbox{
      width: 30%;
      padding: 15px;
    }
  }
  // services
  #services{
    padding-left: 5%;
    padding-right: 5%;
    .servicesbox{
      width: 48%;
      img{
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 1256px){
//   // header
//   header{
//     padding-left: 5%;
//     padding-right: 5%;
//   }
//   // about
//   #about{
//     padding-left: 5%;
//     padding-right: 5%;
//     .aboutbox{
//       width: 30%;
//       padding: 15px;
//     }
//   }
//   // services
//   #services{
//     padding-left: 5%;
//     padding-right: 5%;
//     .servicesbox{
//       width: 48%;
//       img{
//         width: 100%;
//         object-fit: contain;
//       }
//     }
//   }
// }


// and
