@import "variables.scss";

body{
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

button{
  height: 40px;
  text-transform: uppercase;
  font-size: 1.065rem;
  border-radius: 5px;
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  border: none;
}

.bluebutton{
  color: white;
  background: $blue;
  border: 1px solid $blue;
}
.bluebutton:hover{
  background: $dkblue;
  border: 1px solid $ltgray;
}

h1{
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 5px;
}

h4{
  font-size: 1.19rem;
  font-weight: 200;
  margin: 0px;
}

p{
  margin: 0px;
  font-weight: 200;
  line-height: 31px;
}

header{
  padding-left: 8.5%;
  padding-right: 8.5%;
  height: 85px;
  z-index: 200;
  .logo{
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
    padding-top: 18px;
    }
  .menu{
    text-align: right;
    float: right;
    padding-top: 22px;
    i{
      display: none;
    }
    ul{
      display: inline;
      li{
        display: inline;
        padding-left: 40px;
        a{
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.065rem;
          color: $gray;
        }
        a:hover{
          color: $dkblue;
          text-decoration: underline;
        }
      }
    }
  }
}

.hero{
  background: url(../images/hero.jpg) no-repeat top center;
  background-size: cover;
  height: 415px;
  z-index: 1;
  .herotext{
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    h1{
      font-size: 2.82rem;
      font-weight: 400;
      color: white;
    }
    h4{
      color: white;
      padding-bottom: 25px;
    }
  }
}

#about{
  height: 500px;
  padding: 3.5% 15% 3.5% 15%;
  .abouttext{
    h1{
      font-size: 2rem;
      font-weight: 300;
      color: gray;
      margin: 0px;
      padding-bottom: 5px;
    }
    h4{
      color: $mdgray;
      padding-bottom: 45px;
    }
  }
  .aboutbox{
    box-sizing: border-box;
    border: 1px solid $ltgray;
    border-radius: 5%;
    min-height: 365px;
    float: left;
    width: 30.65%;
    padding: 30px;
    i{
      font-size: 40px;
      color: white;
      padding: 30px 32.85px 30px 32.85px;
      margin: 30px;
      border-radius: 100%;
      border: 1px solid $blue;
      background: $blue;
      transition: all .7s ease-in-out;
    }
    h4{
      color: gray;
      text-transform: uppercase;
    }
    p{
      color: gray;
    }
  }
  .aboutbox:hover{
    border: 1px solid $dkblue;
    i{
      color: $blue;
      border: 1px solid $blue;
      background: white;
      transform: rotate(-360deg);
    }
  }
  .middlebox{
    margin-left: 40px;
    margin-right: 40px;
  }
}

#services{
  clear: both;
  background: $dkblue;
  min-height: 650px;
  padding: 3.5% 15% 7% 15%;
  .servicestext{
    h1{
      font-size: 2rem;
      font-weight: 300;
      color: white;
      margin: 0px;
      padding-bottom: 5px;
    }
    h4{
      color: $mdgray;
      padding-bottom: 65px;
    }
  }
  .servicesbox{
    width: 49%;
    img{
      height: 210px;
      object-fit: contain;
      padding-bottom: 40px;
    }
    h4{

      text-transform: uppercase;
      color: white;
    }
    p{
      color: white;
      margin: 7% 11% 6% 11%;
    }
    .transbutton{
      background: none;
      border: 1px solid $ltgray;
      border-radius: 5px;
      padding-left: 9%;
      padding-right: 9%;
    }
    .transbutton:hover{
      background: $blue;
      border: none;
    }
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}

@import "media.scss";
