body {
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

button {
  height: 40px;
  text-transform: uppercase;
  font-size: 1.065rem;
  border-radius: 5px;
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  border: none; }

.bluebutton {
  color: white;
  background: #4AC1FF;
  border: 1px solid #4AC1FF; }

.bluebutton:hover {
  background: #192024;
  border: 1px solid #CBCFD3; }

h1 {
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 5px; }

h4 {
  font-size: 1.19rem;
  font-weight: 200;
  margin: 0px; }

p {
  margin: 0px;
  font-weight: 200;
  line-height: 31px; }

header {
  padding-left: 8.5%;
  padding-right: 8.5%;
  height: 85px; }
  header .logo {
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
    width: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  header .menu {
    text-align: right;
    float: right;
    width: 70%;
    padding-top: 22px; }
    header .menu ul {
      display: inline;
      padding-right: 40px; }
      header .menu ul i {
        display: none; }
      header .menu ul li {
        display: inline;
        padding-left: 40px; }
        header .menu ul li a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.065rem;
          color: #666F77; }
        header .menu ul li a:hover {
          color: #192024;
          text-decoration: underline; }

.hero {
  background: url(../images/hero.jpg) no-repeat top center;
  background-size: cover;
  height: 415px;
  margin: 0px; }
  .hero .herotext {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .hero .herotext h1 {
      font-size: 2.82rem;
      font-weight: 400;
      color: white; }
    .hero .herotext h4 {
      color: white;
      padding-bottom: 25px; }

#about {
  height: 500px;
  padding: 3.5% 15% 3.5% 15%; }
  #about .abouttext h1 {
    font-size: 2rem;
    font-weight: 300;
    color: gray;
    margin: 0px;
    padding-bottom: 5px; }
  #about .abouttext h4 {
    color: #BBBBBB;
    padding-bottom: 45px; }
  #about .aboutbox {
    box-sizing: border-box;
    border: 1px solid #CBCFD3;
    border-radius: 5%;
    min-height: 365px;
    float: left;
    width: 30.65%;
    padding: 30px; }
    #about .aboutbox i {
      font-size: 40px;
      color: white;
      padding: 30px 32.85px 30px 32.85px;
      margin: 30px;
      border-radius: 100%;
      border: 1px solid #4AC1FF;
      background: #4AC1FF;
      transition: all .7s ease-in-out; }
    #about .aboutbox h4 {
      color: gray;
      text-transform: uppercase; }
    #about .aboutbox p {
      color: gray; }
  #about .aboutbox:hover {
    border: 1px solid #192024; }
    #about .aboutbox:hover i {
      color: #4AC1FF;
      border: 1px solid #4AC1FF;
      background: white;
      transform: rotate(-360deg); }
  #about .middlebox {
    margin-left: 40px;
    margin-right: 40px; }

#services {
  clear: both;
  background: #192024;
  min-height: 650px;
  padding: 3.5% 15% 7% 15%; }
  #services .servicestext h1 {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    margin: 0px;
    padding-bottom: 5px; }
  #services .servicestext h4 {
    color: #BBBBBB;
    padding-bottom: 65px; }
  #services .servicesbox {
    width: 49%; }
    #services .servicesbox img {
      height: 210px;
      object-fit: contain;
      padding-bottom: 40px; }
    #services .servicesbox h4 {
      text-transform: uppercase;
      color: white; }
    #services .servicesbox p {
      color: white;
      margin: 7% 11% 6% 11%; }
    #services .servicesbox .transbutton {
      background: none;
      border: 1px solid #CBCFD3;
      border-radius: 5px;
      padding-left: 9%;
      padding-right: 9%; }
    #services .servicesbox .transbutton:hover {
      background: #4AC1FF;
      border: none; }
  #services .left {
    float: left; }
  #services .right {
    float: right; }

@media only screen and (min-device-width: 1px) and (max-device-width: 767px) {
  header .menu ul {
    list-style: none;
    padding-right: 0px; }
    header .menu ul i {
      display: inline;
      font-size: 2rem;
      color: #192024; }
    header .menu ul li {
      display: block;
      padding: 10px 0px 10px 0px;
      display: none; }
    header .menu ul a {
      color: #192024; }

  #about {
    height: auto; }
    #about .aboutbox {
      float: none;
      width: 100%; }
    #about .middlebox {
      margin: 5% 0px 5% 0px; }

  #services {
    height: 1200px; }
    #services .servicesbox {
      width: 100%;
      margin-bottom: 10%; } }
@media (max-width: 767px) {
  header .menu ul {
    list-style: none; }
    header .menu ul i {
      display: inline;
      font-size: 2rem;
      color: #192024; }
    header .menu ul li {
      display: block;
      display: none; }

  #about {
    height: auto; }
    #about .aboutbox {
      float: none;
      width: 100%; }
    #about .middlebox {
      margin: 5% 0px 5% 0px; }

  #services {
    height: 1200px; }
    #services .servicesbox {
      width: 100%;
      margin-bottom: 10%; } }
@media (min-device-width: 768px) and (max-device-width: 1010px) {
  header {
    padding-left: 5%;
    padding-right: 5%; }
    header .logo {
      width: 15%; }
    header .menu {
      width: 85%; }

  #about {
    padding-left: 5%;
    padding-right: 5%; }
    #about .aboutbox {
      width: 30%;
      padding: 15px; }

  #services {
    padding-left: 5%;
    padding-right: 5%; }
    #services .servicesbox {
      width: 48%; }
      #services .servicesbox img {
        width: 100%;
        object-fit: contain; } }

/*# sourceMappingURL=style.css.map */
